<!doctype html>
<html lang="en">
  <head>

	<script>window.location = "/shop/"</script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopping</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

		<style>
			.jumbotron {
				padding: 2rem;
				background-color: rgb(216, 216, 216);
			}
		</style>
  </head>
  <body>
		<div class="jumbotron">
			<h1 class="display-4">Welcome to Shopping</h1>
			<p class="load">Buy everything in very east step.</p>
			<hr class="my-4">
			<p>Let's begin your jouney. Choose where you want to visit.</p>
			<a href="/shop/" class="btn btn-primary btn-lg" role="button">Go To Shop</a>
			<a href="/blog/" class="btn btn-primary btn-lg" role="button">Go To Blog</a>

		</div>
    



  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>